@page "/Fika/Manage/Profiles"

@using FikaShared
@using FikaShared.Responses
@using FikaWebApp.Components.Fika.Dialogs
@using FikaWebApp.Data
@using Microsoft.AspNetCore.Identity

@inject UserManager<ApplicationUser> UserManager
@inject HttpClient HttpClient
@inject ILogger<ProfilesPage> Logger
@inject IDialogService DialogService
@inject ISnackbar Snackbar

<MudDataGrid @ref="_dataGrid" T="ProfileResponse" SortMode="SortMode.Single" ServerData="ServerReload" Filterable="false" RowsPerPage="10">
	<ToolBarContent>
		<MudText Typo="Typo.h6">All Profiles</MudText>
		<MudSpacer />
		<MudTextField T="string" ValueChanged="@(s => OnSearch(s))" Placeholder="Search" Adornment="Adornment.Start" Immediate="true"
					  AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>
	</ToolBarContent>
	<Columns>
		<PropertyColumn Property="x => x.Nickname" />
		<PropertyColumn Property="x => x.ProfileId" />
		<PropertyColumn Property="x => x.Level" />
		<TemplateColumn Title="Flea Banned" CellClass="justify-center">
			<CellTemplate Context="row">
				<MudCheckBox Value="@row.Item.HasFleaBan" ReadOnly="true" />
			</CellTemplate>
		</TemplateColumn>
		<TemplateColumn CellClass="d-flex justify-end">
			<CellTemplate Context="row">
				<MudStack Row>
					<MudButton Size="@Size.Small" Variant="@Variant.Filled" Color="@Color.Primary" OnClick="@(() => OpenModifyDialog(row.Item))">Modify</MudButton>
				</MudStack>
			</CellTemplate>
		</TemplateColumn>
	</Columns>
	<RowLoadingContent>
		<tr class="mud-table-row">
			<td class="mud-table-cell" colspan="1000">
				Loading...
			</td>
		</tr>
	</RowLoadingContent>
	<PagerContent>
		<MudDataGridPager T="ProfileResponse" />
	</PagerContent>
</MudDataGrid>

<style>
	.blur-background {
		backdrop-filter: blur(10px);
	}
</style>

