@implements IDisposable

@inject NavigationManager NavigationManager

<MudNavMenu>
    <MudNavGroup Title="Fika" Icon="@Icons.Material.Filled.Storage" Expanded="true">
        <AuthorizeView>
            <Authorized>
                <MudNavLink Href="" Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.Home">Home</MudNavLink>
            </Authorized>
        </AuthorizeView>
        
        <AuthorizeView Roles="Admin">
            <Authorized>
                <MudNavLink Href="Fika/Manage/Accounts" Icon="@Icons.Material.Filled.AdminPanelSettings">
                    Accounts
                </MudNavLink>
                <MudTooltip Text="Not yet implemented">
                    <MudNavLink Disabled="true" Href="Fika/Manage/Configuration"
                                Icon="@Icons.Material.Filled.Settings">Configuration
                    </MudNavLink>
                </MudTooltip>
            </Authorized>
        </AuthorizeView>

        <AuthorizeView Roles="Admin, Moderator">
            <Authorized>
                <MudNavLink Href="Fika/Manage/Profiles" Icon="@Icons.Material.Filled.Person">Profiles
                </MudNavLink>
                <MudNavLink Href="Fika/Manage/Tools" Icon="@Icons.Material.Filled.HomeRepairService">Tools
                </MudNavLink>
            </Authorized>
        </AuthorizeView>

        <AuthorizeView>
            <Authorized>
                <MudNavLink Href="Fika/Manage/Players" Icon="@Icons.Material.Filled.People">Players</MudNavLink>
                <MudNavLink Href="Fika/Manage/Statistics" Icon="@Icons.Material.Filled.PieChart">Statistics
                </MudNavLink>
                <MudNavLink Href="Fika/Manage/Headless" Icon="@Icons.Material.Filled.PeopleAlt">Headless
                </MudNavLink>
                <MudNavLink Href="Fika/Manage/FileManager" Icon="@Icons.Material.Filled.FolderShared">File
                    Manager
                </MudNavLink>
            </Authorized>
        </AuthorizeView>
    </MudNavGroup>
</MudNavMenu>
<MudSpacer/>
<MudNavMenu>
    <AuthorizeView>
        <Authorized>
            <MudNavLink Href="Account/Manage" Match="NavLinkMatch.Prefix"
                        Icon="@Icons.Material.Filled.Person">@context.User.Identity?.Name</MudNavLink>
            <form action="Account/Logout" method="post">
                <AntiforgeryToken/>
                <input type="hidden" name="ReturnUrl" value="@currentUrl"/>
                <button type="submit" class="mud-nav-link mud-ripple">
                    <MudIcon Icon="@Icons.Material.Filled.Logout" Color="Color.Info" Class="mr-3"></MudIcon>
                    Logout
                </button>
            </form>
        </Authorized>
    </AuthorizeView>
    <MudNavLink Href="About" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.Info">About</MudNavLink>
    <MudNavLink Href="https://github.com/project-fika/fika-server-csharp" Icon="@Icons.Custom.Brands.GitHub"
                Target="_blank">GitHub
    </MudNavLink>
</MudNavMenu>


@code {
    private string? currentUrl;

    protected override void OnInitialized()
    {
        currentUrl = NavigationManager.ToBaseRelativePath(NavigationManager.Uri);
        NavigationManager.LocationChanged += OnLocationChanged;
    }

    private void OnLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        currentUrl = NavigationManager.ToBaseRelativePath(e.Location);
        StateHasChanged();
    }

    public void Dispose()
    {
        NavigationManager.LocationChanged -= OnLocationChanged;
    }

}

